* text=auto
*.c text
*.h text
*.s text
*.md text
*.py text eol=lf
*.sh text eol=lf
*.rules text eol=lf
*.service text eol=lf
*.service.in text eol=lf
*.yml text eol=lf
Makefile text eol=lf
*.ioc text
*.a binary
*.png binary
*.jpg binary
